<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
body {
  background-color: #000000;
  
  /* Additional styling starts below. */
  
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  margin: auto;
  color: #FFFFFF;
}
</style>
<body>
    <h1>Whatsapp Chat Counter</h1>
    <img src="whatsapp.jpg" alt="Whatsapp Logo">
    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
</body>
</html>
